@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}
*/
.container-swiper {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}
/*
.text-center {
  text-align: center;
}
*/

.section-footer {
  position: relative;
  height: 1px;
  background: "#53606b";
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.section-footer2 {
  position: relative;
  height: 1px;
  background: "#53606b";
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

section .about-we {
  justify-content: top;
  align-items: top;
  position: absolute;
  display: flex;
  top: 0;
  margin-top: 5px;
}

section .about-we h2 {
  font-family: "Sora";
  font-size: 24px;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-heading {
  font-size: 3rem;
  color: #ececfa;
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
  height: 105vh;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width:1440px) {
  #tranding {
    padding: 4rem 0;
  }
}

#tranding .tranding-slider {
  height: 35rem;
  padding: 3rem 0;
  margin-top: 30px;
  position: relative;
  background-color: #0a1a29c3;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  padding-top: 0px;
  width: 22rem;
  height: 26rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img {
  border-style: solid;
  border-width: 1.5px;
  border-color: #1f4365e7;
  border-radius: 10px;
  width: 24rem;
  height: 22rem;
  background-color: #0A1A29;
  box-shadow: rgba(0, 0, 0, 0.479) 0px 5px 18px;
}

.tranding-slide .tranding-slide-img img {
  width: 24rem;
  height: 20rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: #4a6074;
  background-color: #172e44;
  position: absolute;
  left: 8px;
  top: 8px;
  right: 11px;
  bottom: 11px;
  width: 23rem;
  height: 21rem;
  overflow: auto;
}

.tranding-slide-content .text-swiper-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2rem;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Sora', sans-serif;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  top: 4.6rem;
  left: 1.4rem;
  color: #ffffff;
  line-height: 16 *1.4;
  letter-spacing: 0px;
  padding: 5px 5px;
  font-family: 'Sora';
  font-size: 16px;
}

.text-description-name {
  font-family: 'Sora';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.mini-text {
  padding: 1rem 0rem;
  display: flex;
  gap: 1rem;
  font-weight: 550;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: #0F2C47;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 1.5rem;
  color: #b8b8d3;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0.2rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 14px rgba(255, 255, 255, 0.393));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #204e7c;
}