@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

html {
    /*font-size: 62.5%;*/
    scroll-behavior: smooth;
}
/*
body {
    font-size: 1.4rem;
  }
  */
footer {
    max-width: 100%;
    height: 54vh;
    background-color: #123962;
    font-family: 'inter';
    position: relative;
    padding-top: 10px;
}

#footer-content {
    background-color: #051120;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

#footer-content .container-footer {
    width: 100%;
}

.container-footer .lines {
    width: 96%;
    height: 45px;
    position: relative;
    margin: 0 auto;
}

.lines::after, .lines::before {
    content:"";
    position: absolute;
    margin: auto;
    height: 1px;
    background: #bdbdbd;
    width: 40%;
    top: 45%;
}

.lines::after {
    left: 0;
}

.lines::before {
    right: 0;
    width: 42.2%;
}

.container-footer .lines .social-list {
    position: absolute;
    display: flex;
    margin-top: 0.5rem;
    gap: 20px;
    left: 50% !important;
    transform: translateX(-58%) !important;
}

.container-footer .lines .social-list .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.container-footer .lines .social-list .footer-link:hover {
    transform: scale(1.1);
    transition: ease .5s;
    box-shadow: rgba(38, 80, 206, 0.223) 0px 54px 55px,
                rgba(83, 83, 83, 0.12) 0px -12px 30px,
                rgba(148, 148, 148, 0.12) 0px 4px 6px,
                rgba(94, 94, 94, 0.17) 0px 12px 13px,
                rgba(163, 163, 163, 0.09) 0px -3px 5px;
}

#facebook {
    background: #4A6CA7;
}

#twiter {
    background: #01B9EF;
}

#instagram {
    background: #5E8FB1;
}

.footer-contats {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
}

.footer-contats .footer-logo {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 180px;
}

.footer-contats .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-contats p {
    margin-top: 3rem;
    color: #fff;
    font-size: 14px;
}

#footer-content .footer-list-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 180px;
    width: 35%;
    margin: 0 auto;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    position: relative;
    margin: 0 auto;
}

.footer-list .footer-link {
    color: #bdbdbd;
    font-size: 14px;
}

.footer-list .footer-link:hover {
    color: #fff;
}

#footer-line {
    top: 288px;
    position: absolute;
    height: 1px;
    background: #bdbdbd;
    width: 50%;
    margin: 0 auto;
    left: 54% !important;
    transform: translateX(-58%) !important;
}

.footer-list-end {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    position: absolute;
    top: 295px;
    width: 100%;
    padding-top: 10px;
    padding-left: 260px;
}

.footer-list-end ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: wrap;
    gap: 0.5rem;
    list-style: none;
}

.footer-list-end ul li {
    width: 260px;
}

.footer-list-end ul .brazil-flag {
    width: 32px;
    height: 20px;
    align-items: start;
    justify-content: start;
    display:flex;
}

.footer-list-end ul .brazil-flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-list-end .footer-link {
    color: #bdbdbd;
    font-size: 14px;
}

.footer-list-end .footer-link:hover {
    color: #fff;
}
/*
@media only screen and (max-width:1366px) {
    .container-footer .lines .social-list {
        margin-left: 55.6rem;
    }
    .footer-contats .footer-logo img {
        margin: 0rem 0rem 0rem 8rem;
    }
  }*/