@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/*
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}
*/

.container-top {
  width: 100%;
  background-color: #193756d2;
  box-shadow: rgba(42, 42, 79, 0.25) 0px 13px 27px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 5rem;
  padding: 3rem 0rem 4rem 4rem;
}

.text-center {
  text-align: left;
}

.text-left-section {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.text-center-section-subheading {
  font-size: 40px;
  font-weight: 560;
  color: #e0e0e0;
  text-shadow: 5px 3px 1px #1e263e;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  max-width: 80rem;
}

.text-center-section-heading {
  font-size: 20px;
  font-family: 'Sora', sans-serif;
  color: #ffffff;
  background-color: #ffffff32;
  box-shadow: rgba(42, 42, 79, 0.25) 0px 13px 27px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 3rem 0rem;
  padding: 1rem 1rem;
  border-radius: 4px;
}

.container-swiper {
  width: 100%;
  margin: 0 auto;
  background-color: #b8b8d3;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 32rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 20rem;
  height: 22rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 22rem;
  height: 22rem;
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.535) 0px 5px 18px;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  width: 70%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.section-mid {
  position: relative;
  height: 1px;
  background: #ffffff;
  width: 40%;
  margin: 0 auto;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #222224;
  border-radius: 8px;
  background-color: #ffffffba;
  padding: 8px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.food-name {
  font-size: 20px;
}

.food-rating {
  padding-top: 10px;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: #bd4141;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: #0F2C47;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 1.5rem;
  color: #b8b8d3;
}


.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0.2rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(255, 255, 255, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #204e7c;
}